@{
    ViewData["Title"] = "Home Page";
}


<partial name="header"/>

<div id="tbody">
    <!-- <tbody > -->

    <div id="about-me">
        <br>
        <img class="about-me-img" src="~/Image/_storage_emulated_0_Pictures_Cartoon_Photo_cartoon1618060134594.jpg" alt="">
        <br>
        <h4 class="aboutme-head-1"><b>درباره من</b></h4>
        <h5 class="aboutme-head-2">سلام!</h5>
        <h5 class="aboutme-head-2" style="color: #E65F78;">من شایان توحیدی هستم</h5>
        <div class="aboutme-main">
            <h5>
                شایان توحیدی هستم مدرس بین المللی و رسمی مایکروسافت ، مدیر و موسس انجمن برنامه نویسان و آموزشگاه برنامه
                نویسان , سایت آموزش آنلاین تاپ لرن , گروه برنامه نویسان پایدار و مجموعه تحقیقاتی برنامه نویسان پیشرو پایدار.
                و همچنین موتور جستجو برنامه نویسان , سایت فریلنسر گت ورک
                <br> <br>
                دارای مدارک Microsoft Certified Trainer - MCT وMCSD و MCP و MCSE و MCSA از مایکروسافت که در رزومه قابل مشاهده
                می باشد . ( مشاهده مدارک )
                <br> <br>
                متولد 1385 ساکن تهران هستم ؛ فعالیتم در حوزه برنامه نویسی و آی تی را از سال 1399 شروع کردم و از سال 1400 بصورت
                حرفه ای وارد این عرصه شدم ، اکنون با گذشت 2 سال و پس کسب تجربه و فنون برنامه نویسی و بازاریابی الکترونیکی در
                زمینه تدریس و مشاوره در این حوزه به سازمان های عمومی و خصوصی و عموم دانشجویان بصورت حضوری و غیر حضوری فعالیت
                میکنم.
                <br> <br>
                از سال 1399 تا کنون مدرس بیش از 1200 دانشجو بصورت حضوری ، 800 دانشجو بصورت غیر حضوری و مشاور چندین سازمان و
                ارگان دولتی و شرکت های خصوصی بوده ام.</h5>
        </div>
        <nav>
            <a class="instagram-1" href="https://www.instagram.com/shayantohidii/" target="_blank">
                <img class="instagram"
                     src="Image/icon/icons8-instagram-26.png" alt="اینستاگرام">
            </a>
            <a href="" class="instagram-1" target="_blank">
                <img class="instagram" src="Image/icon/icons8-whatsapp-64.png"
                     alt=" واتساپ">
            </a>
            <a href="" class="instagram-1" target="_blank">
                <img class="instagram"
                     src="Image/icon/favpng_telegram-logo-airdrop.png" alt="تلگرام">
            </a>
            <a href="" class="instagram-1" target="_blank">
                <img class="instagram" src="Image/icon/linkedin-64x64.png"
                     alt="لینکدین">
            </a>
        </nav>
    </div>

    <a class="aup" href="#thead">
        <div class="up">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
    </a>


    <div id="Services">

        <h2 class="Services-head">تجربیات</h2>
        <p class="Services-p">خدماتی که من می توانم برای شماارائه دهم تا یک همکاری لذت بخش را شروع کنیم</p>
        <div class="Presence-teach">
            <img class="presence-img"
                 src="~/Image/icon/756-7561211_teacher-icon-png-download-transparent-background-teacher-icon.png"
                 alt="تدریس حضوری">
            <h3 class="Presence-head">تدریس حضوری </h3>
            <p class="Presence-p">
                از سال 1392 در سازمان های مختلف مشغول به تدریس شده و مدرس بیش از صدها دانشجو به صورت حضوری
                بوده ام
            </p>
        </div>
        <div class="online-teach">
            <img class="online-img" src="~/Image/icon/a7099df1264b1e7eeb1fcf16ea820ba8.png" alt="تدریس آنلاین">
            <h3 class="online-head"> تدریس آنلاین</h3>
            <p class="online-p">
                با پیاده سازی سایت تاپلرن و فراخوان مدرسین ، فعالیت خود را در این سایت به صورت رسمی شروع
                کرده و تا کنون مدرس بیش از 10 هزار دانشجو بوده ام
            </p>
        </div>
        <div class="Consulting">
            <img class="Consulting-img" src="~/Image/icon/icon-for-consulting-13.jpg" alt="مشاور برنامه نویسی و آموزش">
            <h3 class="Consulting-head">
                مشاور برنامه نویسی و آموزش</h3>
                <P class="Consulting-p">
                    پس از دریافت تاییدیه از کمپانی مایکروسافت ، به عنوان مشاور و مدرس در شرکت های مختلف
                    مشغول به فعالیت شده و به آموزش و مدیریت پروژه پرداختم
                </P>
        </div>

    </div>

    <div id="Cooperation">
        <h3 class="Cooperation-head">من آماده همکاری با شما هستم</h3>

        <a class="pushable" href="#footer">
            <span class="front">
                همکاری
            </span>
        </a>

    </div>
    <section id="skills">
        <h4 class="skill-text">مهارت ها </h4>
        <ul class="skill">
            <li class="skill html">HTML</li>
            <li class="skill css">CSS</li>
            <br>
            <li class="skill js">JavaScript</li>
            <li class="skill React">Reactjs</li>
            <br>
            <li class="skill Csharp">C#</li>
            <li class="skill asp">asp.net MVC</li>
            <li class="skill aspcore">ASP.NET CORE</li>
            <li class="skill PWA">PWA</li>
        </ul>
    </section>
</div>
<!-- </tbody> -->
