@model Form
<!DOCTYPE html>
<html lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shayan Tohidi</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/font/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<body>
    @RenderBody()


    <h4 class="footer-head">ارتباط با ما</h4>

    <article class="address">
        <i class="fa fa-map-marker" style="font-size:48px; color: #E65F78; margin-left: 70px;"></i>
        <span>آدرس</span><br>
        <P>ایران، تهران، جنت آباد شمالی</P>
    </article>

    <article class="email">
        <i class="fa fa-envelope" style="font-size:48px; color: #E65F78;margin-left:62px"></i>
        <span>ایمیل</span><br>
        <P>182shayan@gmail.com</P>
    </article>

    <article class="phone">
        <i class="fa fa-phone" style="font-size:48px;color: #E65F78 ;margin-left:47px"></i>
        <span>شماره تماس</span><br>
        <P>+98 903 814 8518</P>
    </article>

    <footer id="footer">
        <article>
            <!-- send massage -->
            <form asp-action="Index">
                <input class="massage-name" type="text" placeholder="*نام شما " asp-for="Name">

                <input class="massage-email" type="email" placeholder="*ایمیل " asp-for="Email">

                <input class="massage-subject" type="text" placeholder="موضوع " asp-for="Subject"><br>

                <textarea class="massage area" asp-for="message" cols="101" rows="10" placeholder="متن پیام "></textarea>

                <button class="massage-send" type="submit">ارسال پیام</button>

                <span style="        all: unset;
                     position: relative;
                     left: 43%;
                     top: 560px;
                     color: red;
                     direction: rtl;
                     width: 30px;
                     font-size: 15px;" asp-validation-for="Name"></span><br />
                <span style="all: unset;
                     position: relative;
                     left: 53%;
                     top: 535px;
                     color: red;
                     direction: rtl;
                     width: 30px;
                     font-size: 15px;" asp-validation-for="Email"></span><br />
                <span style="all: unset;
                     position: relative;
                     left: 63%;
                     top: 505px;
                     color: red;
                     direction: rtl;
                     width: 30px;
                     font-size: 15px;" asp-validation-for="message"></span>

                @if (!string.IsNullOrWhiteSpace(ViewBag.error))
                {
                    <h3 style="color: red;
                       position: relative;
                       left: 63%;
                       top: 505px;">
                        @ViewBag.error
                    </h3>
                }
                @if (!string.IsNullOrWhiteSpace(ViewBag.success))
                {
                    <h3 style="color: green;
                       position: relative;
                       left: 63%;
                       top: 505px;">
                        @ViewBag.success
                    </h3>
                }



            </form>
        </article>

        <section id="footer-down">
            <nav class="social-media">
                <a target="_blank" href="https://www.instagram.com/shayantohidii/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a href=""> <i class="fa fa-telegram" aria-hidden="true"></i></a>
                <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </nav>
            <p>
                تمامی حقوق مادی و معنوی این سایت متعلق به شایان توحیدی می باشد و هرگونه کپی برداری غیرقانونی محسوب خواهد شد
                &#169;
            </p>
        </section>
    </footer>
</body>
<!-- smoot scroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- smoot scroll -->
<script src="~/js/index.js"></script>


@* refrence for script validation *@
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/bootstrap/dist/css/bootstrap.min.css"></script>
<script src="lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@*  *@
</html>