<div id="thead">
    <thead>
    <article id="head-top">
        <ul class="head-menu" dir="rtl">


            <li class="head-menu-item"> <a href="#tbody" class="head-menu-item-a"> <b>درباره من</b></a></li>
            <li class="head-menu-item"> <a href="#Services" class="head-menu-item-a"> <b>تجربیات</b></a></li>
            <li class="head-menu-item"> <a href="#skills" class="head-menu-item-a"> <b>مهارت ها</b></a></li>
            <li class="head-menu-item"> <a href="" class="head-menu-item-a"> <b>نمونه کار ها</b></a></li>
            <li class="head-menu-item"> <a href="#footer" class="head-menu-item-a"> <b>ارتباط با من</b> </a></li>
            <li class="head-menu-item-Text">
            <a asp-controller="Home" asp-action="redirectindex" class="head-menu-item-a">𝒔𝒉𝒂𝒚𝒂𝒏</a>
        </ul>
    </article>
    <div id="head-main">
        <h4 class="head-main">
            خوش آمدید</h4>
        <h1 class="head-main">شایان توحیدی</h1>
        <h2 class="head-main">web (backend) برنامه نویس </h2>
    </div>

    <!-- scrol down -->
    <article id="sec-1">
        <a href="#tbody" class="scroll-down-a">
            <div class="scroll-down"></div>
        </a>

    </article>

    </thead>
</div>